.f1hidden {
    display:none!important;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.5;
}

#versionid {
    position: absolute;
    top:0;
    color:yellow;
    opacity:0.5;
}


#console {
	position: absolute;
    top: 3em;
    left: 0;
	text-align: center;
	max-width: 20%;
	z-index: 5;
}
.console {
    margin-left: 5%;
    background-color: wheat;
    /* margin: 30%; */
	font-size:0.8em;
    width: 100%;
	padding-top: 1px;
	z-index: 3;
}
.console_button {
	border:	2px solid rgb(0,0,0,0.3);
	margin: 2px;
	transition: 0.3s;
}



.consoleslider {
	width: -webkit-fill-available;
}

.consoleshrunk {
	max-height: 0em!important;
}
.consoleexpander {
	overflow: hidden;
	max-height: 55em;
}
.expandbutton{
	background-color: rgb(156, 135, 96);
}
#versionid {
	pointer-events: all;
	position: absolute;
    font-size: 0.9em;
	width: 6em;
	height: 3em;
	color: white;
	top: 0;
	z-index: 3;

}
